.title {
	font-size: 35px;
	margin-bottom: 12px;
	display: inline-block;
}
.title2 {
	height: auto;
}

.sisetu {
	float: left;
}

.font-p {
	text-align: left;
	color: #497937;
	margin-top: 5px;
	margin-bottom: 5px;
}

.date {
	text-align: left;
	vertical-align: top;
	float: right;
}

.sisetu-date {
	display: block;
	height: auto;
}


.main {
	display: block;
	float: left;
	font-size: 20px;
	/*margin-top: 30px;*/
	margin-bottom: 40px;
	height: auto;
	padding-top: 30px;
}

.tarea {
	resize: none;
	outline: none;
}

.ans p {
	display: none;
}

.ans-btn {
	margin: 10px 0;
	text-align: right;
}


.ans-text {
	width: 100%;
}

.answers {
	height: auto;
	overflow : hidden;
}

.answers2 {
	height: auto;
}

.button-right {
	display: inline-block;
	float: right;
	margin-top: 5px;
}

.margin-bottom {
	margin-bottom: 10px;
}

#wtitle p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


#wcontent p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
