.font-p {
	text-align: left;
	color: #497937;
}


.font-title {
	color: #497937;
	font-size:30px;
}

.button-submit {
	text-align: right;
	margin-top: 5px;
}
.div-bottom {
	margin-bottom: 20px;
}

.button	{
	outline: none;
}

.div-btn {
 	position: relative;
	display: inline-block;
	/* margin: 10px 0; */

}

.ws-detail {
	position: inherit;
}

.input-file {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: none;

}



input[type="text"] {
	padding: 3px;
	font-size: 14px;
	width: 100%;
	height: 100%;
	padding: 2px 12px;
	outline: none;
}

.div-margin-top {
	margin-top: 5px;
}

#add {
	width: 100%;
	text-align: left;
}

#add * {
	color: inherit;
	font-size: 16px;
}

/*.padding {
	padding-right: 15px;
}*/

.btn-margin {
	margin-top: 5px;
	padding-right: 5px;
}

.margin-left {
	margin-left: 10px;
}

.span {
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 1px;
}

#title h2 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

#title-index h2 {
	padding: 0.4em 0.4em;/*文字の上下 左右の余白*/
	color: inherit;/*文字色*/
	background: #e3fabe;/*背景色*/
	border-left: solid 5px #497937;/*左線*/
	border-bottom: solid 3px #b3c695;/*下線*/
}
#title-index h2.danger {
	border-left: solid 5px #e2041b;/*左線*/
	border-bottom: solid 3px #bc878e;
	background: #f5aab4;
	color: #FFF;
}

#linkTo {
	margin-top: 10px;
}

.btn {
	padding: 2px 5px;
}
.ws-man {
	margin-top: 30px;
}

.ws-margin {
	margin-bottom: 10px;
}

.img-size {
	width: 500px;
	height: auto;
}

.img-size-2 {
	width: auto;
	height: 325px;
}

.img-margin {
	margin: 15px 0;
}

@media (max-width: 992px) {
	.img-size {
		max-width: 100%;
		max-height: 100%;
	}
}

.left {
	text-align: left;
	font-size: 20px;
}

.margin-top {
	margin-top: 10px;
}

.sear-lay {
	margin-bottom: 10px;
}


.margin-bottom {
	margin-bottom: 25px;
}

.ws-font {
	font-size: 18px;
}
