h2 {
	position: relative;
	padding: 0.5em;
	background: #e3fabe;
}
h2:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 30px;
	border: 15px solid transparent;
	border-top: 15px solid #e3fabe;
	width: 0;
	height: 0;
}
h2.danger {
	background: #f5aab4;
	color: #FFF;
}
h2.danger:after {
	border-top: 15px solid #f5aab4;
}
.panel tr td:first-child{
	min-width: 30%;
	text-align: center;
}
#linkTo {
	margin-top: 10px;
}
