h2 {
	position: relative;
	padding: 0.5em;
	background: #e3fabe;
}

h2:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 30px;
	border: 15px solid transparent;
	border-top: 15px solid #e3fabe;
	width: 0;
	height: 0;
}
h2.danger {
	background: #f5aab4;
	color: #FFF;
}
h2.danger:after {
	border-top: 15px solid #f5aab4;
}
h3 {
	font-size: 20px;
	color: inherit;
}
.panel {
	/*min-height: 20vh;*/
	border: 1px solid #ddd;
	margin: 5px;
	padding: 10px;
	box-shadow: 5px 5px #ddd;
	cursor: pointer;
}
.panel tr td:first-child{
	min-width: 30%;
	text-align: center;
}
.panel > a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	color: inherit;
}
.panel:hover {
	opacity: 0.65;
}
.panel img {
	width: 100%;
	height: auto;
}
#linkTo {
	margin-top: 10px;
}
