#panel {
	/*min-height: 20vh;*/
	border: 1px solid #ddd;
	margin: 5px;
	padding: 10px;
	box-shadow: 5px 5px #ddd;
	/*cursor: pointer;*/
}
#panel tr td:first-child{
	min-width: 30%;
	text-align: center;
}
#panel table {

}
#linkTo {
	margin: 5px 0 10px 0;
}
#details {
	position: absolute;
	right: 25px;
	bottom: 10px;
}
