h2 {
	padding: 0.4em 0.4em;/*文字の上下 左右の余白*/
	color: inherit;/*文字色*/
	background: #e3fabe;/*背景色*/
	border-left: solid 5px #497937;/*左線*/
	border-bottom: solid 3px #b3c695;/*下線*/
}
h2.danger {
	border-left: solid 5px #e2041b;/*左線*/
	border-bottom: solid 3px #bc878e;
	background: #f5aab4;
	color: #FFF;
}

#linkTo {
	margin-top: 10px;
}
