/*search*/
#details {
	display: none;
}
button span {
	color: inherit;
}
img {
	width: 100%;
	height: auto;
}
#videoList .row {
	margin-top: 15px;
}
/*search終わり*/

/*view*/
video {
	/*width: 50vw;
	min-width: 50vw;
	height: auto;*/
	width: 100%;
}
/*view終わり*/
