/*search*/

button span {
	color: inherit;
}

#videoList .row {
	margin-top: 15px;
}

/*search終わり*/

/*view*/

video {
	width: 100%;
	height: 100%;
	background-color: #000;
}

#controls {
	position: absolute;
	width: 100%;
	margin: -40px 0 0 0;
	padding: 5px 0;
	background-color: #444;
}
#controls button{
	font-size: 17px;
}
.trance {
	padding: 0;
	background-color: transparent;
	border: transparent;
}
#controls * {
	color: #FFF;
}
#controls span:hover,
#controls span:focus {
	outline: none;
}
#controls [id$="bar"]  {
	top: 0.5em;
}
/*#controls div *:hover {
	cursor: pointer;
}*/
.ui-slider-range {
	background: #ddd;
}

.ui-slider .ui-slider-handle {
	top: -0.15em;
	margin-left: -.5em;
	width: .8em;
	height: .8em;
	border-radius: 100%;
	border: none;
}
.ui-slider-horizontal {
	height: 7px;
	background: black;
}
.ui-widget.ui-widget-content {
    border: none;
}

#videos:-webkit-full-screen {
	width: 100%;
	height: 100%;
}

/*view終わり*/
