.radio {
	display: none;
}
.radio + label {
	position:relative;
	padding-left: 1.2em;
	margin-right: 1.2em;
}
.radio + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	border: 1px solid #999;
	border-radius: 50%;
}

/* .radio:checked + label {
	color: #009a9a;
} */
.radio:checked + label::after {
	content: "";
	display: block;
	position: absolute;
	top: .3em;
	left: .3em;
	width: .8em;
	height: .8em;
	background: #009a9a;
	border-radius: 50%;
}
