/*サイドバー*/
#sidebar {
	background-color: #f8f4d6;
	height: 100%;
	position: fixed;
	z-index: 1;
}
#sidebar div ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#sidebar div ul li {
	padding: 10px 0 10px 10px;
	border-bottom: solid 1px #ddd;
}
#sidebar div ul li *{
	padding: 10px 0 10px 10px;
	display: block;
}
li.danger {
	background-color: #f2dede;
}
li.success {
	background-color: #dff0d8;
}
@media (max-width: 900px) {
	#sidebar {
		width: 100vw;
		min-height: auto;
		position: relative;
	}
	#sidebar div ul li *{
		padding: 2px 0 2px 10px;
	}
	#sidebar div ul {
		margin: 0;
	}
	.navbar-right {
		display: none;
	}
}
/*サイドバー終わり*/

#menubar {
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	background-color: #c5b66d;
}
#menubar ul {
	list-style: none;
	padding:0;
	font-size:0px;
	margin-left: calc(100vw / 12);
	margin-right: calc(100vw / 12);
}

#menubar ul li {
	display: inline-block;
	width: calc((100vw - 100vw / 6) / 3);
	font-size:20px;
	border-right: solid  1px #ddd;
}
#menubar ul li:first-child {
	border-left: solid  1px #ddd;
}
#munubar ul li a {
	color: #fff;
	display: block;
	position: absolute;
}

/*ヘッダーナビゲーション*/
.navbar {
	height: 74px;
}
.nabvar-img {
	height: 100%;
	width: auto;
}
.dropdown-img {
	height: 25px;
	width: 25px;
	border-radius: 3px;
}
.navbar-text {
	margin-left: 5px
}
.navbar-right {
	padding-right: 50px;
}

/*ヘッダーナビゲーション終わり*/

/*footer*/
footer {
	bottom: 0;
	width: 100%;
    height: 20px;
    position: fixed;
	color: #777;
	background-color: #f5f5f5;
	z-index: 2;

}
/*footer終わり*/

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}

/*その他*/
.center{
	text-align: center;
}
.right {
	text-align: right;
}
.full {
	width: 100%;
}
.floating {
	position: fixed;
	z-index: 1;
}
#all {
	margin-top: 77px;
	min-height: calc(100vh - 77px);
	max-height: 100%;
}

#reloadbutton {
	margin-top: 10px;
}

a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline:none;
}
/*その他終わり*/

body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	min-height: 100%;
}

#navbar-accent {
	height: 21px;
	background-color: #c5b66d;
	border-top: solid 1px black;
}

a :focus {
	border: none;
}
