button,
button[type="submit"],
button[type="button"] {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

h2 {
	margin-top: 10px;
}

.btn-l {
	margin-top: 30px;
	margin-left: 30px;
}

.submit {
	background-color:transparent;
	border-style:none;
	text-decoration:underline;
	/*width: 16em;*/
	text-align: justify;
}

.search {
	width: 300px;
}
* {
	outline: none;
}
