/*.font-p {
	text-align: left;
	color: #497937;
}


.font-title {
	color: #497937;
	font-size:30px;
}*/

/*.button {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;*/

/*}
.div-bottom {
	margin-bottom: 20px;
}*/


/*input[type="text"] {
	width: 100%;
	padding: 3px;
	font-size: 14px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}*/

#add {
	width: 100%;
}
