.button,
.button:hover,
.button:focus {
	outline: none;
}

h2 {
	margin: 10px 0;
	text-align: center;
}

.search {
	width: 100%;
}

* {
	outline: none;
}

.btn-sub {
	margin-top: 10px;
}

#form {
	width: 400px;
	margin: 30px auto;
	padding: 20px;
}

.p-color {
	color:#e2041b;
}

#request-tab,
#reqtable {
	margin: 0;
}

input[type="text"],
input[type="date"],
input[type="number"] {
	width: 100%;
	padding: 3px;
	font-size: 14px;
	outline: none;
}

input[type="checkbox"] {
	margin-top: 0;
}

.button-right {
	float: right;
}
