.button,
.button:hover,
.button:focus {
	outline: none;
}

h2 {
	margin: 10px 0;
	text-align: center;
}

.search {
	width: 100%;
}

* {
	outline: none;
}

.btn-sub {
	text-align: right;
	margin-top: 10px;
}

.font-p {
	text-align: left;
	color: #497937;
	margin-top: 5px;
	margin-bottom: 5px;
}

#form {
	width: 350px;
}

.font-title {
	color: #497937;
	font-size:30px;
}

.p-color {
	color:#e2041b;
}

#request-tab,
#reqtable {
	margin: 0;
}

.sear-lay {
	margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
	width: 100%;
	padding: 3px;
	font-size: 14px;
	outline: none;
}

input[type="checkbox"] {
	margin-top: 0;
	/* display: inline; */
}

.tarea {
	resize: none;
	outline: none;
}

.ans-btn {
	margin: 10px 0;
}

.button-right {
	float: right;
}
/* detail */
/* p {
	width: 300px;
	margin: 0;
}

th {
	width: 250px;
}

td {
	text-align: left;
	width: 300px;
} */
